#wrapper-oneGood {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#wrapper-oneGood  > div > img {
    max-width: 600px;
}

#wrapper-oneGood  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    font-weight: bold;
}

#wrapper-loader {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-button {
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    background-color: #c99035;
    color: rgb(53, 53, 45);
    border-radius: 100px;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

#buy-button:hover {
    background-color: rgb(53, 53, 45);
    color: #c99035;
}